<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>493980485810-tok32jod4luhf4pl4dcrkn2qgb1dt43i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.493980485810-tok32jod4luhf4pl4dcrkn2qgb1dt43i</string>
	<key>API_KEY</key>
	<string>AIzaSyBc-reGkb1CEAfL-kDF4FD2XULppWYswYQ</string>
	<key>GCM_SENDER_ID</key>
	<string>493980485810</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nis.KindCare</string>
	<key>PROJECT_ID</key>
	<string>kindcare-cadf3</string>
	<key>STORAGE_BUCKET</key>
	<string>kindcare-cadf3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:493980485810:ios:c5988b39d760b33b2061ab</string>
</dict>
</plist>